@{
    ViewBag.Title = "Sponsors";
    ViewBag.NavActive = "Sponsors";
}

<h2>Sponsors</h2>

<h3>Please support the companies who support us:</h3>

<div class="span13 row">
    <div class="span6">
        <div class="well">
            <h3>Group Sponsors</h3>
            <p>
                They pay for, or provide services, for the group.
            </p>
        </div>
        <div class="well">
            <h6>Discount ASP Hosting</h6>
            <p>
                They provide the hosting for our site.
            </p>
            <p>
                <a href="http://www.discountasp.net" target="_blank">
                    <img src="@Url.Content("~/content/images/sponsors/discountasp_static_120x60px.gif")" alt="Discount ASP.net logo" />
                </a>
            </p>
        </div>
        <div class="well">
            <h6>TEK Systems</h6>
            <p>
                They pay for room rental, food, drinks for meeting(s).
            </p>
            <p>
                <a href="http://www.teksystems.com" target="_blank">
                    <img src="@Url.Content("~/content/images/sponsors/teksystems.gif")" alt="TEK Systems logo"/>
                </a>
            </p>
        </div>
        <div class="well">
            <h6>Tech Finders</h6>
            <p>
                They pay for food and drinks for meeting(s).
            </p>
            <p>
                <a href="http://www.aztechfinders.com" target="_blank">
                    <img src="@Url.Content("~/content/images/sponsors/Tech_Finders_Logo.jpg")" alt="Tech Finders logo"  height="128" width="128" />
                </a>
            </p>
        </div>
    </div>
    <div class="span6">
        <div class="well">
            <h3>Giveaway Sponsors</h3>
            <p>
                They provide giveaways for the meetings.
            </p>
        </div>
        <div class="well">
            <h6>Telerik</h6>
            <p>
                <a href="http://www.telerik.com" target="_blank">
                    <img src="@Url.Content("~/content/images/sponsors/telerikLogo_static_122x48px.png")" alt="Telerik logo" />
                </a>
            </p>
        </div>
        <div class="well">
            <h6>JetBrains</h6>
            <p>
                <a href="http://www.jetbrains.com/resharper" target="_blank">
                    <img src="@Url.Content("~/content/images/sponsors/logo_resharper189x38.gif")" alt="JetBrains Resharper logo" width="175" />
                </a>
            </p>
        </div>
        <div class="well">
            <h6>ComponentOne</h6>
            <p>
                <a href="http://www.componentone.com" target="_blank">
                    <img src="@Url.Content("~/content/images/sponsors/C1Logo_static_125x125px.jpg")" alt="Component One logo" />
                </a>
            </p>
        </div>
        <div class="well">
            <h6>PluralSight</h6>
            <p>
                <a href="http://www.pluralsight.com" target="_blank">
                    <img src="@Url.Content("~/content/images/sponsors/pluralsight-fullcolor-175x39-v1.png")" alt="Plural Sight training logo" />
                </a>
            </p>
        </div>
        <div class="well">
            <h6>Red Gate Software</h6>
            <p>
                <a href="http://www.red-gate.com/?utm_source=ug&utm_medium=uglogo&utm_content=nwvdug&utm_campaign=redgate " target="_blank">
                    <img src="@Url.Content("~/content/images/sponsors/RGLogo_SimpleTools_OnWhite_RGB.jpg")" alt="Red Gate logo" />
                </a>
            </p>
        </div>
    </div>
</div>
